@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Raleway:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 100vw;
}

#mobileLoginHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 20px;
  min-height: 10vh;
  margin-top: 5vh;
  padding: 0% 5%;
  text-align: center;
}

#mobileLoginHeader h1 {
  font-family: "Playfair Display", serif;
}

#mobileLoginHeader p {
  color: grey;
}

#mobileRecipesHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 10vh;
}

#mobileRecipesHeader h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

#mobileRecipesHeader a {
  color: #74b49b;
  font-weight: 500;
}

#mobileLoginFooter, #mobileRecipesFooter {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 10vh;
}

#mobileLoginFooter p, #mobileRecipesFooter p {
  font-size: 0.9rem;
}

#mobileRecipesFooter {
  min-height: 20vh;
}

nav {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: -0.1vh;
  min-height: 5vh;
  width: 100%;
  background: white;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
  z-index: 10;
}

nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

nav a i {
  width: 100%;
  padding: 20% 0%;
  color: rgba(0, 0, 0, 0.5);
}

nav a #currentPage {
  color: #74b49b;
}

nav #sidePanel {
  position: absolute;
  top: 0;
  right: -101vw;
  width: 50vw;
  height: 100vh;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main #searchBarContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 7vh;
  background: rgba(211, 211, 211, 0.2);
}

main #searchBarContainer #searchButton {
  position: absolute;
  top: 14%;
  right: 7.5%;
  width: 8vh;
  height: 5vh;
  border: none;
  font-family: "Raleway", sans-serif;
  background: white;
  font-weight: 600;
  color: black;
  padding-left: 3%;
}

main #searchBarContainer #searchButton:focus {
  outline: none;
}

main #searchBarContainer #searchBar {
  width: 85vw;
  height: 5vh;
  padding-left: 5%;
  font-family: "Raleway", sans-serif;
  border: none;
  border-bottom: 1px solid #f4f9f4;
}

main #searchBarContainer #searchBar:focus {
  outline: none;
}

main #searchByKeyword {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main #searchByKeyword #numberOfResults {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  padding: 5% 0%;
}

main #searchByKeyword #searchResultsContainer {
  display: -ms-grid;
  display: grid;
  row-gap: 50px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  text-align: center;
  width: 80vw;
  min-height: 70vh;
}

main #searchByKeyword #searchResultsContainer .recipeCard {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 10px;
  background: rgba(244, 249, 244, 0.3);
  -webkit-box-shadow: 1px 1px 5px lightgrey;
          box-shadow: 1px 1px 5px lightgrey;
  width: 100%;
  height: 100%;
  padding: 10% 0%;
}

main #searchByKeyword #searchResultsContainer .recipeCard img {
  width: 20vw;
  border-radius: 100%;
}

main #searchByKeyword #searchResultsContainer .recipeCard p {
  text-align: center;
  font-size: 0.7rem;
}

main #searchByKeyword #searchResultsContainer h1 {
  font-size: 0.7rem;
  padding: 0% 10%;
}

main #categoriesContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 30px;
  padding: 0% 10%;
}

main #categoriesContainer article {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 40px;
  background: rgba(244, 249, 244, 0.3);
  -webkit-box-shadow: 1px 1px 5px lightgrey;
          box-shadow: 1px 1px 5px lightgrey;
  padding: 10%;
}

main #categoriesContainer article img {
  width: 45vw;
}

main #categoriesContainer article h1 {
  font-size: 1.3rem;
}

main #categoriesContainer article p {
  font-size: 0.8rem;
}

footer {
  margin: 5vh 0vh;
}
/*# sourceMappingURL=search.css.map */