@import "../partials/globals";

#mobileLoginHeader {
    @include displayGridCenter;
    row-gap: 20px;
    min-height: 10vh;
    margin-top: 5vh;
    padding: 0% 5%;
    text-align: center;

    h1 {
        font-family: $titleFont;
    }

    p {
        color: grey;
    }
}

#mobileRecipesHeader {
    @include displayGridCenter;
    // grid-template-columns: auto auto auto;
    min-height: 10vh;

    h1 {
        font-family: $titleFont;
        font-size: 1.4rem;
    }

    a {
        color: $accentColor;
        font-weight: 500;
    }
}