@import "../partials/globals";

header {
    @include displayGridCenter;
    row-gap: 20px;
    min-height: 10vh;
    margin-top: 5vh;
    padding: 0% 5%;
    text-align: center;

    h1 {
        font-family: $titleFont;
    }
}