@import "../partials/header";
@import "../partials/footer";

main {
    @include displayGridCenter();
    min-height: 70vh;

    img {
        margin-top: 3vh;
        width: 60vw;
    }

    // .swiperContainer {
    //     display: grid;
    //     place-items: center;
    //     width: 100%;
    //     height: 300px;
    // }
    
    form {
        display: grid;
        align-self: end;
        row-gap: 20px;
        text-align: center;
        width: 65vw;

        .field, #loginButton {
            font-family: $bodyFont;
            font-size: 1rem;
            padding: 5%;
            border-radius: 3px;
            border: 1px solid $accentColor;
        }

        #emailInput, #passwordInput {

            &:focus {
                outline: none;
            }
        }

        #loginButton {
            font-weight: 600;
            color: white;
            background: $accentColor;
            border: none;
            box-shadow: 1px 1px 3px rgba(128, 128, 128, 0.5);

            &:active {
                box-shadow: none;
            }

            &:focus {
                outline: none;
            }
        }

        p {
            a {
                color: $accentColor;
            }
        }

        #loginStatus {
            font-size: 1rem;
            font-weight: bold;
        }
    }
}