@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 100vw;
}

#mobileLoginHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 20px;
  min-height: 10vh;
  margin-top: 5vh;
  padding: 0% 5%;
  text-align: center;
}

#mobileLoginHeader h1 {
  font-family: "Playfair Display", serif;
}

#mobileLoginHeader p {
  color: grey;
}

#mobileRecipesHeader {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 10vh;
}

#mobileRecipesHeader h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}

#mobileRecipesHeader a {
  color: #74b49b;
  font-weight: 500;
}

#mobileLoginFooter, #mobileRecipesFooter {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 10vh;
}

#mobileLoginFooter p, #mobileRecipesFooter p {
  font-size: 0.9rem;
}

#mobileRecipesFooter {
  min-height: 20vh;
}

nav {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: -0.1vh;
  min-height: 5vh;
  width: 100%;
  background: white;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
  z-index: 10;
}

nav a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}

nav a i {
  width: 100%;
  padding: 20% 0%;
  color: rgba(0, 0, 0, 0.5);
}

nav a #currentPage {
  color: #74b49b;
}

nav #sidePanel {
  position: absolute;
  top: 0;
  right: -101vw;
  width: 50vw;
  height: 100vh;
  background: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  row-gap: 10px;
  margin-top: 2vh;
}

main > p {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0% 5%;
}

main button {
  margin-top: 3vh;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 3%;
  background: #74b49b;
  border: none;
  border-radius: 3px;
  color: white;
  -webkit-box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
}

main button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main button:focus {
  outline: none;
}

main #mealsGeneratorContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  row-gap: 30px;
  min-height: 55vh;
  margin-top: 2vh;
}

main #mealsGeneratorContainer h1 {
  color: #74b49b;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 0% 10%;
}

main #mealsGeneratorContainer #categoryAndAreaContainer {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

main #mealsGeneratorContainer #categoryAndAreaContainer p {
  font-size: 1.1rem;
}

main #mealsGeneratorContainer #categoryAndAreaContainer #divider {
  display: none;
}

main #mealsGeneratorContainer #mealsImageContainer {
  position: relative;
  width: 80vw;
}

main #mealsGeneratorContainer #mealsImageContainer img {
  width: 100%;
  border-radius: 3px;
}

main #mealsGeneratorContainer #mealsVideo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(244, 249, 244, 0.1);
  border-radius: 3px;
  width: 80vw;
  -webkit-box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
          box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
}

main #mealsGeneratorContainer #mealsVideo:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main #mealsGeneratorContainer #mealsVideo a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 600;
  width: 100%;
  padding: 5% 0%;
}

main #mealsGeneratorContainer #tabs {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  display: none;
}

main #mealsGeneratorContainer #tabs h1 {
  color: rgba(0, 0, 0, 0.5);
}

main #mealsGeneratorContainer #tabs #ingredientsTitle {
  color: #74b49b;
}

main #mealsGeneratorContainer #ingredientsAndMeasureContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  width: 90%;
  text-align: left;
}

main #mealsGeneratorContainer #ingredientsAndMeasureContainer p {
  font-size: 0.9rem;
  margin: 5% 0%;
  text-transform: capitalize;
}

main #mealsGeneratorContainer #mealsInstructions {
  text-align: left;
  padding: 0% 10%;
  display: none;
  font-size: 0.9rem;
}
/*# sourceMappingURL=recipes.css.map */